<!-- carrusel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="1000">
      <img src="../../../assets/img/contactanos/banner.jpg" class="d-block w-100" alt="...">
      <div class="container-fluid row">
        <div style="text-align: justify" class="carousel-caption d-none d-md-block ">
          <h2 style="margin-top: -50%;" >MÁS QUE UNA IMAGEN</h2>
          <p>Te brindamos la comodidad que buscas y necesitas,<br>
            para que sea una experiencia fabulosa, que formará<br>
            parte del recuerdo para toda la vida</p>
        </div>

        <div style="padding-left: -45%;  text-align: justify" class="carousel-caption d-none d-md-block ">
          <h2 style="margin-top: -15%;">EXPERIENCIA</h2>
        </div>
      </div>
    </div>
  </div>

</div>
<!--end carrusel -->


<div class="container-fluid p-0 m-0 row">
  <div class="col-6" style="padding-left: 5%;padding-top: 5%">
    <h1 class="mb-5">EXPERIENCIA<br>
      FOTOGRÁFICA</h1>
    <p style="text-align: justify;" class="cols-100 mt-5">
      En nuestro estudio se encuentra el video resumen de la sesión. Este video<br>
      resumen es un formato creado especialmente por nosotros, que será<br>
      proyectado a los visitantes para que puedan apreciar una video proyección<br>
      en pantalla gigante de los mejores momentos y tomas de la sesión,<br>
      acompañados de una pista de audio seleccionada según la ocasión<br> y temática.<br><br>

      Somos conscientes que como socio fuiste partícipe de la sesión, por lo que<br>
      incluimos el logo de tu empresa o negocio al final de la exposición de video<br>
      en la frase “Una experiencia Photogama”, traída a ustedes por (Nombre de la<br>
      empresa asociada de dónde provino el certificado). Una forma de generar un<br>
      vínculo emocional con tu marca, así como para generar recordación,<br>
      posicionándote como una experiencia agradable y placentera.
    </p>
    <div class="row container-fluid" style="text-align: center; margin-top: 10%">
      <div class="col-3">
        <img class="mb-4" src="../../../assets/img/contactanos/ico-audio.png" height="55" alt="">
        <p>AUDIO</p>
      </div>
      <div class="col-3">
        <img class="mb-4" src="../../../assets/img/contactanos/ico-photo.png" height="55" alt="">
        <p>FOTOGRAFÍA</p>
      </div>
      <div class="col-3">
        <img class="mb-4" src="../../../assets/img/contactanos/ico-proyec.png" height="55" alt="">
        <p>PROYECCIÓN</p>
      </div>
      <div class="col-3">
        <img class="mb-4" src="../../../assets/img/contactanos/ico-video.png" height="55" alt="">
        <p>VIDEO</p>
      </div>
    </div>
  </div>

  <div class="col-6 p-0">
    <img class="img-fluid" src="../../../assets/img/contactanos/contactanos.jpg" width="100%" alt="">
  </div>
</div>
