<div class="container-fluid p-0">
  <img src="../../../assets/img/nosotros/banner.jpg" width="100%" alt="">
</div>

<div class="container-fluid p-0 row">
  <div class="cols-50">
    <img src="../../../assets/img/nosotros/photografo.jpg" alt="">
  </div>
  <div class="cols-50">
    <h1>NOSOTROS</h1>
    <p style="text-align: justify;" class="cols-100">
      Somos un estudio fotográfico premium enfocados en brindar un servicio de<br>
      alta calidad y personalizado, dirigido a un público exclusivo. Ofrecemos<br>
      servicios a medidas del cliente, temáticas a pedido coma, impresiones <br>
      fotográficas de alta calidad, fotos familiares, retratos, mascotas, parejas,<br>
      niños, fotos en exteriores, entre otros.<br><br>

      Además, brindamos a nuestros clientes facilidades extras como:<br>
      programación y reserva de citas, transporte desde un lugar designado a <br>
      nuestro estudio, y servicio de delivery a domicilio de nuestros productos.
    </p>
  </div>
  
</div>
