
<!-- carrusel -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="1000">
      <img src="../../../assets/img/slider-home/tokyo2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="../../../assets/img/slider-home/familia2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="3000">
      <img src="../../../assets/img/slider-home/nina2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--end carrusel -->


<div class="container centrar">
  <button type="button" class="btn ">LO MÁS SOLICITADO</button>
</div>

<div class="row">
  <div class="container col-md-3 p-0">
    <img class="image" src="../../../assets/img/categorias/nina.jpg" width="100%" alt="Avatar">
    <div class="middle">
      <div class="text">BEBÉS</div>
      <button class="btn-white">ver mas</button>
    </div>
  </div>

  <div class="container col-md-3 p-0">
    <img class="image" src="../../../assets/img/categorias/embarazada.jpg" width="100%" alt="Avatar">
    <div class="middle">
      <div class="text">John Doe</div>
    </div>
  </div>

  <div class="container col-md-3 p-0"
  ><img class="image" src="../../../assets/img/categorias/familia.jpg" width="100%" alt="Avatar">
    <div class="middle">
      <div class="text">John Doe</div>
    </div>
  </div>

  <div class="container col-md-3 p-0">
    <img class="image" src="../../../assets/img/categorias/mascotas.jpg" width="100%" alt="Avatar">
    <div class="middle">
      <div class="text">John Doe</div>
    </div>
  </div>
</div>







<div class="container-fluid mt-5 row">
  <div class="cols-15"></div>
  <div class="cols-85">
    <h2>
      RECOMENDACIONES<br>
      GENERALES
    </h2>
  </div>
</div>

<div class="container-fluid row centrar mb-5 mt-5">
  <div class=" cols-m-0 cols-l-40">
  </div>
  <div class="cols-m-100 cols-l-20 container-fluid bg-gris p-5">
    <img class="img-fluid" src="../../../assets/img/time.png" alt="">
    <p ALIGN="justify" class="mt-5 ">Ser puntual (10 minutos de<br>
      tolerancia como máximo).</p>
  </div>
  <div class="cols-m-100 cols-l-20 p-5">
    <img class="img-fluid" src="../../../assets/img/Clothes.png" alt="">
    <p ALIGN="justify" class="mt-5 ">Traer de 2 a 3 mudas de ropa. Como<br> recomendación, una de las mudas tendrá<br> que ser del mismo tono o color para<br> que haya uniformidad. </p>
  </div>
  <div class="cols-m-100 cols-l-20 bg-gris p-5">
    <img class="img-fluid" src="../../../assets/img/Ropa.png" alt="">
    <p ALIGN="justify" class="mt-5 ">De preferencia, asistir con la primera<br>
      muda de ropa ya puesta para iniciar la<br> sesión.</p>
  </div>




  <div class="cols-m-0 cols-l-40 ">
  </div>
  <div class="cols-m-100 cols-l-20 container-fluid p-5">
    <img class="img-fluid" src="../../../assets/img/Maquillaje.png" alt="">
    <p ALIGN="justify" class="mt-5 ">Ser puntual (10 minutos de<br>
      tolerancia como máximo).</p>
  </div>
  <div class="cols-m-100 cols-l-20 bg-gris p-5">
    <img class="img-fluid" src="../../../assets/img/Maquillaje.png" alt="">
    <p ALIGN="justify" class="mt-5 ">Traer de 2 a 3 mudas de ropa. Como<br> recomendación, una de las mudas tendrá<br> que ser del mismo tono o color para<br> que haya uniformidad. </p>
  </div>
  <div class="cols-m-100 cols-l-20  p-5">
    <img class="img-fluid" src="../../../assets/img/Pies.png" alt="">
    <p ALIGN="justify" class="mt-5 ">De preferencia, asistir con la primera<br> muda de ropa ya puesta para iniciar la<br> sesión.</p>
  </div>
</div>

