<!-- carrusel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="1000">
      <img src="../../../assets/img/sesiones/nino.jpg" class="d-block w-100" alt="...">
      <div class="container-fluid row">
        <div style="padding-left: -45%;  text-align: justify" class="carousel-caption d-none d-md-block ">
          <h2 style="margin-top: -15%;">GALERIA</h2>
        </div>

        <div style="padding-left: 45%;  text-align: justify" class="carousel-caption d-none d-md-block ">
          <h2 style="margin-top: -150%;" >PORQUE PENSAMOS EN TI</h2>
          <p>te ofrecemos una variedad de
            sesiones fotográficas para que
            vivas una experiencia única e inolvidable.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="../../../assets/img/sesiones/nina.jpg" class="d-block w-100" alt="...">
      <div class="container-fluid row">
        <div style="padding-left: -45%;  text-align: justify" class="carousel-caption d-none d-md-block ">
          <h2 style="margin-top: -15%;">GALERIA</h2>
        </div>

        <div style="padding-left: 45%;  text-align: justify" class="carousel-caption d-none d-md-block ">
          <h2 style="margin-top: -150%;" >PORQUE PENSAMOS EN TI</h2>
          <p>te ofrecemos una variedad de
            sesiones fotográficas para que
            vivas una experiencia única e inolvidable.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--end carrusel -->


<div class="container centrar">
  <button type="button" class="btn ">LO MÁS SOLICITADO</button>
</div>


<div class="row">
  <div class="container col-md-4 p-0">
    <img class="image" src="../../../assets/img/categorias/nina.jpg" width="100%" alt="Avatar">
    <div class="middle">
      <div class="text">BEBÉS</div>
      <button class="btn-white">ver mas</button>
    </div>
  </div>

  <div class="container col-md-4 p-0">
    <img class="image" src="../../../assets/img/categorias/embarazada.jpg" width="100%" alt="Avatar">
    <div class="middle">
      <div class="text">John Doe</div>
    </div>
  </div>

  <div class="container col-md-4 p-0"
  ><img class="image" src="../../../assets/img/categorias/familia.jpg" width="100%" alt="Avatar">
    <div class="middle">
      <div class="text">John Doe</div>
    </div>
  </div>

  <div class="container col-md-4 p-0">
    <img class="image" src="../../../assets/img/categorias/mascotas.jpg" width="100%" alt="Avatar">
    <div class="middle">
      <div class="text">John Doe</div>
    </div>
  </div>

  <div class="container col-md-4 p-0">
    <img class="image" src="../../../assets/img/categorias/nina.jpg" width="100%" alt="Avatar">
    <div class="middle">
      <div class="text">John Doe</div>
    </div>
  </div>

  <div class="container col-md-4 p-0">
    <img class="image" src="../../../assets/img/categorias/embarazada.jpg" width="100%" alt="Avatar">
    <div class="middle">
      <div class="text">John Doe</div>
    </div>
  </div>

  <div class="container col-md-4 p-0">
    <img class="image" src="../../../assets/img/categorias/familia.jpg" width="100%" alt="Avatar">
    <div class="middle">
      <div class="text">John Doe</div>
    </div>
  </div>
  <div class="container col-md-4 p-0">
    <img class="image" src="../../../assets/img/categorias/mascotas.jpg" width="100%" alt="Avatar">
    <div class="middle">
      <div class="text">John Doe</div>
    </div>
  </div>
  <div class="container col-md-4 p-0">
    <img class="image" src="../../../assets/img/categorias/nina.jpg" width="100%" alt="Avatar">
    <div class="middle">
      <div class="text">John Doe</div>
    </div>
  </div>
</div>
