<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">

  <app-menu></app-menu>

  <router-outlet></router-outlet>
  <!-- BEGIN JIVOSITE CODE {literal} -->
  <script type='text/javascript'>
    (function(){ var widget_id = 'VO6atifDUP';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
  </script>
  <!-- {/literal} END JIVOSITE CODE -->

  <app-footer></app-footer>

</div>


