<!-- carrusel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="1000">
      <img src="../../../assets/img/contactanos/banner2.jpg" class="d-block w-100" alt="...">
      <div class="container-fluid row">
        <div style="text-align: justify" class="carousel-caption d-none d-md-block ">
          <h2 style="margin-top: -50%;" >CAPTURAMOS MOMENTOS</h2>
          <p>No queremos que pierdas tu escencia, por<br>
            eso lo capturamos todo para que lo<br>
            conserves para siempre</p>
        </div>
      </div>
    </div>
  </div>

</div>
<!--end carrusel -->


<div class="container-fluid p-0 m-0 row">
  <div class="col-6" style="padding-left: 5%;padding-top: 5%">
    <h1 class="mb-5">CONTÁCTANOS</h1>
    <p style="text-align: justify;" class="cols-100 mb-4">
      Puedes solicitar cualquier tipo de información<br>
      llenando el siguiente formulario.
    </p>
    <p style="text-align: justify;" class="cols-100 mb-5">
      Email: info@photogamastudio.com<br>
      Tel: 284 3565<br>
      Nuestro horario de atención<br>
      Lunes a Viernes de 9:00 a.m. a 5:30 p.m
    </p>


    <app-formulario></app-formulario>
  </div>

  <div class="col-6 p-0">
    <img class="img-fluid" src="../../../assets/img/contactanos/contactanos1.jpg" width="100%" alt="">
  </div>
</div>
