/* You can add global styles to this file, and also import other style files */
.centrar{
  text-align:center;
}

.btn{
  font-family: Montserrat;
  font-size: 21px;
  border: 1px;
  color: #2c2c2c;
  padding:20px 50px 20px 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-style: solid;
  border-color: #2c2c2c;
}

div {
  font-family: Montserrat;
  color: #4e555c;
}
.bg-gris{
  background-color: #f4f4f4;
}

h1 h2 h3 h4 h5 h6 h7 h8 p{
  font-family: Montserrat;
  h2{
    font-size: 22px;
  }
}



