<div class="container-fluid fondo-color row p-5">
  <div class="col-md-1"></div>
  <div class="col-md-4 ">
    <img class="pl-2" src="../../../assets/img/LogoEnwan.png" alt="">
    <p class="mt-3">Copyright © 2018<br>
      Diseñador por la<br>
      agencia publicitaria Enwan</p>
    <p>Síguenos en &nbsp; <img src="../../../assets/img/icono_insta.png" alt="">&nbsp; <img src="../../../assets/img/icono_tel.png"> </p>
  </div>
  <div class="col-md-4 ">
    <p><img src="../../../assets/img/icono_tel.png" alt=""> 284 3565</p>
    <p><img src="../../../assets/img/icono_tel.png" alt=""> 976 347 922</p>
    <p><img src="../../../assets/img/icono_tel.png" alt=""> Ca. Shell 597 - Ofic. 801 Miraflores</p>
  </div>
</div>
